.posts {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 90%;
  max-width: 700px;
  text-align: left;
}

.posts .post {
  padding: 0 0 50px 0;
  border-bottom: 1px solid #E5E5E5;
}

.posts .post h1 {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-size: 20px;
  color: #0B1C27;
}

.posts .post h2 {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-size: 18px;
  color: #0B1C27;
}

.posts .post h6 {
  color: #6B757C;
  font-weight: 500;
  font-size: 14px;
}

.posts .post pre {
  overflow-x: scroll;
  overflow-y: hidden;
}

@media (min-width: 500px) {
  .posts .post h1 {
    font-size: 30px;
  }

  .posts .post h2 {
    font-size: 22px;
  }

  .posts .post h6 {
    font-size: 16px;
  }
}

.posts .post a#more {
  background: #097CC6;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px;
  color: #E5E5E5;
  text-decoration: none;
}

.posts .post a#more:hover {
  background: #0463A0;
}
